*{

    margin: 0;
    padding: 0;
    background-color: #333333;
}

#senaiLogo{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}

#cabecalho{
    align-items: center;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #333333;
    border-bottom:  #575757 solid 10px;
}

#divPrincipalCentralizada{
    height: 100px;
    justify-content: center;
    align-items: center;
}

#imagemLogoApex{
    height: 100px;
  
}